footer {
    background-color: #010101;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

.column {
    flex-basis: 100%;
    flex-basis: calc(25% - 40px); /* Pour les grands écrans */
    margin-bottom: 20px;
}

.column h3 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 20px;
}

.icon-text {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.icon-text i {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    color: #E7494F;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 20px;
}

.column ul li a {
    color: grey;
    text-decoration: none;
}

.column ul li a:hover {
    color: white;
}

.newsletter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.newsletter input {
    padding: 5px;
    margin-right: 15px;
    border: none;
}

.newsletter button {
    padding: 5px 10px;
    background-color: #E7494F;
    border: none;
    color: white;
    cursor: pointer;
}

.social-icons i {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(102%) contrast(102%);
    margin-top: 15px;
}

.icon-social {
    color: #A5A5A5;
    font-size: 25px;
    margin-right: 20px;
}

hr {
    border: 1px solid white;
    width: 100%;
}

.footer-links {
    margin-top: 15px;
}

.footer-links a {
    color: grey;
    text-decoration: none;
    margin-left: 10px;
}

.footer-links a:hover {
    color: white;
}




