footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;
    flex-basis: calc(25% - 40px); /* Pour les grands écrans */
    margin-bottom: 20px;
}

.column h3 {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.icon-text {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.icon-text img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(339deg) brightness(102%) contrast(101%);
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 5px;
}

.column ul li a {
    color: grey;
    text-decoration: none;
}

.column ul li a:hover {
    color: white;
}

.newsletter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.newsletter input {
    padding: 5px;
    flex-grow: 1;
    border: none;
}

.newsletter button {
    padding: 5px 10px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
}

.social-icons img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(100deg) brightness(102%) contrast(102%);
}

hr {
    border: 1px solid white;
    width: 100%;
}

.footer-links {
    text-align: right;
}

.footer-links a {
    color: grey;
    text-decoration: none;
    margin-left: 10px;
}

.footer-links a:hover {
    color: white;
}

/* Point de rupture pour les tablettes */
@media screen and (max-width: 768px) {
    .column {
        flex-basis: calc(33.33% - 40px);
    }
}

/* Point de rupture pour les mobiles */
@media screen and (max-width: 375px) {
    .column {
        flex-basis: 100%;
    }

    .footer-links {
        text-align: center;
    }

    .newsletter {
        flex-direction: column;
        align-items: flex-start;
    }

    .newsletter input {
        width: 100%;
        margin-bottom: 10px;
    }
}
